################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/$tf
/.vs
node_modules
IconEventNetwork-api/.tmp/data.db
